
.well {
/*    background-color: #a7b1c6;
    border-radius: 15px; */
}

.result {
    height: 375px;
}

.result img {
    max-width: 350px;
    max-height: 150px;
    border: solid 1px #a7791e;
    display: block;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;
}

#searchBox {
    margin-top: 10px;
    margin-bottom: 20px;
}

#searchBox div {
    display: inline-block;
}

.removeBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #919aac;
    border-radius: 15px;
}